#!KAMAILIO
#
# Kamailio SBC - Item 2 Examen (TLS + SRTP + Topology Hiding)
####### Global Parameters #########

debug=2
log_stderror=no
log_facility=LOG_LOCAL0
fork=yes
children=4

enable_tls=yes

listen=tls:172.31.8.121:5061 advertise 44.195.62.75:5061
listen=udp:172.31.8.121:5060
advertise 44.195.62.75:5060

#!define ASTERISK_IP "172.31.9.194"
#!define KAMAILIO_PUB_IP "44.195.62.75"

####### Modules Section ########

loadmodule "tm.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "ctl.so"
loadmodule "jsonrpcs.so"
loadmodule "kex.so"
loadmodule "nathelper.so"
loadmodule "rtpengine.so"
loadmodule "tls.so"
loadmodule "outbound.so"
loadmodule "path.so"
loadmodule "sanity.so"
loadmodule "topoh.so"

####### Module Parameters ########

modparam("ctl", "binrpc", "unix:/var/run/kamailio/kamailio_ctl")
modparam("jsonrpcs", "fifo_name", "/run/kamailio/kamailio_rpc.fifo")
modparam("rr", "enable_full_lr", 1)
modparam("rr", "append_fromtag", 1)
modparam("registrar", "method_filtering", 1)
modparam("registrar", "max_expires", 3600)
modparam("registrar", "gruu_enabled", 0)
modparam("usrloc", "db_mode", 0)
modparam("nathelper", "natping_interval", 30)
modparam("nathelper", "ping_nated_only", 0)
modparam("rtpengine", "rtpengine_sock", "udp:127.0.0.1:22222")
modparam("tls", "config", "/etc/kamailio/tls.cfg")

modparam("topoh", "mask_key", "CHANGE_ME_MASK_KEY")
modparam("topoh", "mask_callid", 1)
modparam("topoh", "sanity_checks", 1)

####### Routing Logic ########

request_route {
    xlog("L_INFO", "[$rm] $fu -> $ru (src=$si:$sp)\n");

    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    force_rport();
    if (!is_method("ACK") && !is_method("CANCEL")) {
        fix_nated_contact();
    }

    if (has_totag()) {
        if (loose_route()) {
            route(RTPMANAGE);
            if (!t_relay()) { sl_reply_error(); }
            exit;
        } else {
            if (is_method("ACK")) {
                if (t_check_trans()) { route(RTPMANAGE); t_relay(); }
                exit;
            }
            sl_send_reply("404", "Not here");
            exit;
        }
    }

    if (is_method("CANCEL")) {
        if (t_check_trans()) { t_relay(); }
        exit;
    }

    if (is_method("REGISTER")) {
        xlog("L_INFO", "REGISTER de $fu\n");
        add_path_received();
        if (!save("location")) { sl_reply_error(); }
        exit;
    }

    if (is_method("INVITE")) {
        xlog("L_INFO", "INVITE-SDP-IN: [$rb]\n");
        record_route();
        route(RTPMANAGE);
        xlog("L_INFO", "INVITE-SDP-OUT: [$rb]\n");

        if (!lookup("location")) {
            if ($si == ASTERISK_IP) {
                xlog("L_WARN", "ANTI-LOOP: INVITE de FreePBX para $rU sin registro. 480.\n");
                sl_send_reply("480", "Temporarily Unavailable");
                exit;
            }
            xlog("L_INFO", "Destino $rU no local. Enviando a Asterisk.\n");
            $ru = "sip:" + $rU + "@" + ASTERISK_IP + ":5060;transport=udp";
            $du = "sip:" + ASTERISK_IP + ":5060";
        } else {
            xlog("L_INFO", "Destino local: $ru\n");
        }

        t_on_failure("MANAGE_FAILURE");
        if (!t_relay()) { sl_reply_error(); }
        exit;
    }

    if (is_method("OPTIONS")) {
        sl_send_reply("200", "OK");
        exit;
    }

    if (!t_relay()) { sl_reply_error(); }
}

route[RTPMANAGE] {
    if (is_method("INVITE|UPDATE")) {
        xlog("L_INFO", "RTPEngine: offer/answer para $rm\n");
        rtpengine_manage("replace-origin replace-session-connection");
    } else if (is_method("ACK") && has_body("application/sdp")) {
        xlog("L_INFO", "RTPEngine: ACK con SDP\n");
        rtpengine_manage("replace-origin replace-session-connection");
    } else if (is_method("BYE|CANCEL")) {
        xlog("L_INFO", "RTPEngine: destruyendo sesion para $rm\n");
        rtpengine_delete();
    }
}

failure_route[MANAGE_FAILURE] {
    if (t_is_canceled()) { exit; }
    xlog("L_WARN", "Fallo en transaccion para $ru\n");
}

onreply_route {
    if (status == "401" || status == "403") {
        xlog("L_WARNING", "AUTH_FAIL from $si:$sp status=$rs\n");
    }
    if (status == "488") {
        xlog("L_WARN", "488-REASON: $rs BODY: [$mb]\n");
    }
    if (status =~ "183|2[0-9][0-9]") {
        fix_nated_contact();
        if (has_body("application/sdp")) {
            rtpengine_manage("replace-origin replace-session-connection");
        }
    }
}
